body{
    background-color: aqua;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#update_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.update_info_input{
    height: 4ex;
    margin: 2ex;
}

#update_button{
    margin: 3ex;
    width: 17ex;
    height: 5ex;
    background-color: green;
    font-size: 1.5ex;
}